@charset "UTF-8";
body {
  max-width: 1440px;
  margin: 0 auto;
}

.app {
  color: red;
}

main {
  padding: 0 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-inline: 50px;
  margin-top: 25px;
}
.header nav ul {
  display: flex;
}
.header nav ul a {
  text-decoration: none;
  color: black;
}
.header nav ul a.underline {
  text-decoration: underline;
}
.header nav ul a li {
  margin: 0 10px;
  list-style: none;
}

.home {
  display: flex;
  flex-direction: column;
}
.home .banner {
  margin-top: 25px;
  width: 100%;
  height: 223px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}
.home .bannerOver {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .bannerOver h1 {
  color: white;
  font-size: 48px;
}
.home .gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
}

.thumb {
  width: 33.3333333333%;
  box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
}
.thumb .logementCard {
  height: 340px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
}
.thumb .logementCardOver {
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, transparent, transparent, #000000);
  padding: 20px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}
.thumb .logementCard h2 {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 40%;
}

/* 📱 Responsive */
@media screen and (max-width: 1024px) {
  .thumb {
    flex: 1 1 calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .thumb {
    flex: 1 1 calc(100% - 20px);
    max-width: 100%;
  }
  h3 {
    font-size: 1rem;
    height: 50px;
  }
}
.pictures img {
  width: 1000px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-inline: 50px;
}

.carousel-container {
  position: relative;
  height: 415px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.carousel-container .fa-solid {
  position: absolute;
  color: white;
  font-size: 80px;
}
.carousel-container .fa-chevron-left {
  left: 20px;
}
.carousel-container .fa-chevron-right {
  right: 20px;
}
.carousel-container .counter {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.logementInfo {
  display: flex;
  justify-content: space-between;
}
.logementInfo h1 {
  color: #ff6060;
}
.logementInfo .tags {
  margin-top: 20px;
}
.logementInfo .tag {
  margin-right: 10px;
  background-color: #ff6060;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
.logementInfo .host {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.logementInfo .host .hostName {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  color: #ff6060;
}
.logementInfo .host .hostImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.logementInfo .full-star {
  color: #ff6060;
  font-size: 24px;
  margin-inline: 5px;
}
.logementInfo .empty-star {
  color: lightgrey;
  font-size: 24px;
  margin-inline: 5px;
}

.loc-collapse {
  display: flex;
  justify-content: space-between;
}

.loc-collapse-size {
  width: 48%;
}

.error-container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6f61;
}

.error-code {
  font-size: 15rem;
  font-weight: bold;
  color: #ff6f61;
  margin: 0;
}

.error-message {
  font-size: 1.5rem;
  margin: 20px 0;
}

.back-home {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.footer .logo {
  width: 120px; /* Ajustez la taille du logo selon votre préférence */
  margin-bottom: 20px; /* Espace entre le logo et le texte */
  display: block;
  margin: 0 auto;
  width: 120px;
}

footer nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer nav ul li {
  margin: 0 10px;
  font-size: 16px;
}

footer nav ul li a {
  text-decoration: none;
  color: white;
}

footer nav ul li a.underline {
  text-decoration: underline;
}

footer nav ul li a:hover {
  color: #ff5a5f; /* Couleur au survol */
}

.collapse {
  margin-block: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ff6060;
  color: white;
  /* Styles responsives */
}
.collapse .collapse-header {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between; /* Mettre le titre à gauche et la flèche à droite */
  align-items: center; /* Centrer verticalement */
  width: 100%; /* Utiliser 100% pour prendre toute la largeur */
  padding: 10px; /* Espacement autour du texte */
  box-sizing: border-box; /* Assurer que le padding ne dépasse pas de la largeur du container */
}
.collapse .collapse-header span {
  font-size: 1.2rem; /* Taille de la flèche */
  margin-left: 10px; /* Un peu d'espace entre le titre et la flèche */
  transition: transform 0.3s ease; /* Animation lors du changement de direction */
}
.collapse .collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  text-align: center; /* Centrer le texte dans la section déroulée */
}
.collapse .collapse-open {
  max-height: 1000px; /* Un grand nombre pour garantir que le contenu s'affiche */
  margin-top: 10px;
  background-color: #f5f5f5;
  color: black;
  padding: 10px; /* Espacement autour du contenu */
}
@media (max-width: 600px) {
  .collapse .collapse-header {
    font-size: 14px; /* Réduire la taille du texte sur les petits écrans */
    padding: 8px; /* Réduire l'espacement pour les petits écrans */
  }
  .collapse .collapse-header span {
    font-size: 1rem; /* Réduire la taille de la flèche sur les petits écrans */
  }
}/*# sourceMappingURL=main.css.map */