.thumb {
width: calc(100% / 3);
box-sizing: border-box;
padding: 20px;
text-decoration: none;
     .logementCard {
        height: 340px;
        width:100%;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        overflow: hidden;
        &Over{
            height: 100%;
            width: 100%;
            background: linear-gradient(transparent,transparent,transparent,#000000);
            padding: 20px;
            display: flex;
            align-items: flex-end;
            box-sizing: border-box;
        }
        h2 {
            text-decoration: none;
            color: white;
            font-size: 18px;
            width: 40%;
        }
     }
}


/* 📱 Responsive */
@media screen and (max-width: 1024px) {
    .thumb {
        flex: 1 1 calc(50% - 20px); // 2 images par ligne sur tablette
    }
}

@media screen and (max-width: 768px) {
    .thumb {
        flex: 1 1 calc(100% - 20px); // 1 image par ligne sur mobile
        max-width: 100%; // Prend toute la largeur disponible
    }

    h3 {
        font-size: 1rem; // Réduire la taille du texte sur mobile
        height: 50px; // Ajuster la hauteur du fond du titre
    }
}

